@import "tailwindcss";

:root {
  --lime: #CFFF92;
  --black: #000000;
  --white: #FFFFFF;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Viga", sans-serif;
}


@theme {
  --font-viga: var(--font-viga);
  --font-inter: var(--font-inter);
}